.colour-picker{
    padding:5px;
    display:inline-block;
}

.colour-picker table{
    border-collapse: collapse;
}

.colour-picker table:not(:first-child){
    margin-top: 5px;
}

.colour-picker td{
    padding:0px;
}

.colour-picker td:not(:first-child){
    padding-left:5px;
}

.colour-picker .colour{
    min-width: 16px;
    min-height: 16px;
    border: 1px solid transparent;
}
.colour-picker .colour:hover{
    border: 1px solid orange;
    cursor: pointer;
}

.colour-picker .default{
  text-align:center;
  width:100%;
}
